body, ul, li, h1, h3, p {
  padding: 0;
  margin: 0;
}
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

a {
  cursor: pointer;
  color: #337ab7;
}
label {
  margin-bottom: 0;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.btn {
  outline: none !important;
}

.red {
  color: red;
}
.gray{
  background: #f2f2f2;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  -webkit-appearance: none;
}

::-webkit-scrollbar:horizontal {
  width: 6px;
  height: 6px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-track-piece {
  background: #f2f2f2;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #bdbdbd;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #837979;
  -webkit-border-radius: 6px;
}

.header_content {
  height: 50px;
  line-height: 50px;
  background: #101010;
  margin-bottom: 20px;
}

.header_content h1 {
  color: #ffffff;
  height: 100%;
  line-height: 50px;
  font-size: 24px;
  display: inline-block;
}
.header_content .s_id{
  color: #ffffff;
}

.header_content .fr {
  color: #ffffff;
}

.message {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;

}

.message .row {
  margin-bottom: 10px;
}

.message .permission {
  text-align: center;
  margin-bottom: 10px;
}

.message .permission .premission-btn {
  bottom: 10px;
  margin-top: -10px;
}

.check_setting {
  border: 1px solid #337ab7;
  margin-bottom: 20px;
  border-radius: 5px;
}

.h3_item {
  background: #337ab7;
  color: #ffffff;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.add-btn {
  margin-top: -24px;
}

.fs16 {
  font-size: 16px;
}
/* 查询数据与输出设置 */
.checking {
  margin: 10px;
  position: relative;
}
 .check_content .check_content-header, .output_content .output_content-header{
  background: #799fc0;
  color: #ffffff;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.check_content .check_content-header h3{
  color: #000;
}
 .check_content, .output_content{
  border: 1px solid #eeeeee;
}
 .check_content .check_content-items, .output_content .output_content-items{
  padding: 10px;
}
 .check_content .check_content-item, .output_content .output_content-item{
  padding:5px 0;
  min-height: 30px;
}
 .check_content .border{
   border:1px solid #eeeeee;
 }
 .check_content .check_content-label, .output_content .output_content-label{

}
 .check_content .check_content-title,.output_content .output_content-title{
  margin-left: 80px;
}
 .check_content .table-responsive,.output_content .table-responsive,.collection_content .table-responsive{
  border:1px solid #eeeeee;
  margin:10px 0 10px 0;
}
.check_content .table,.output_content .table,.collection_content .table{
  margin-bottom: 10px;
}
.check_content .table tr,.output_content .table tr,.collection_content .table tr{
  border-top:1px solid #eee;
}
 .check_content .table tr th, .check_content .table tbody,
 .output_content .table tr th, .output_content .table tbody,
 .collection_content .table tr th, .collection_content .table tbody{
  text-align: center;
}
 .check_content caption,.output_content caption,.collection_content caption{
   width: 100px;
   text-align: left;
   font-weight: bold;
   margin-left: 10px;
}

.check_setting .check_item a {
  cursor: pointer;
}

.check_setting .check_failed {
  margin: 10px;
  display: flex;
  align-items: center;
}

.check_setting .check_failed label {
  width: 100px;
  margin-bottom: 0;
}

.check_setting .check_failed .failed_item {

  border: 1px solid #eeeeee;
  flex: 1;
  padding: 10px;
}

.check_setting .panel-table {
  padding: 15px;
}

 .panel-table table tr th{
  text-align: center;
}
caption{
  color: #2c3e50;
}
/*查询数据*/
.check_data {
  border: 1px solid #337ab7;
  margin-bottom: 20px;
  border-radius: 5px;
}

.check_data .check_data_item {
  margin: 10px;
}

.check_data .table_title {
  display: block;
  margin-bottom: 10px;
}

.check_setting .table {
  margin-bottom: 0;
}

.check_data .table tbody tr td span {
  color: #2c3e50;
  font-weight: bold;
}

.check_data .table tbody tr a {
  cursor: pointer;
}

.check_data .table i.glyphicon {
  font-size: 14px;
  margin: 0 5px;
}

/* 输出设置 */
.output_setting {
  border: 1px solid #337ab7;
  border-radius: 5px;
  margin-bottom: 20px;
}
.outputing{
  padding: 10px;
}
.output_setting .outputting {
  margin: 10px;
  padding: 10px;
  border: 1px solid #eeeeee;
}

/*model*/
.modal-header {
  background: #337ab7;
  color: #fff;
}

#search_setting .body_content {
  border: 1px solid #eeeeee;
}

#search_setting .body_content .content_item {

  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

#search_setting .body_content .content_item:last-child {
  border: 0;
}

.header {
  position: relative;
}

.add-seach_btn,.collection-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-open .modals {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1080;
  overflow: hidden;
  top: 0;
  height: 735px;
}

#setting .modal-dialog, #query .modal-dialog,#output .modal-dialog,#collection .modal-dialog {
  max-height: 90%;
  min-height: 60%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orienft: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.modal-content {
  overflow-y: auto;
}

.modal-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.modal-body {
  overflow-y: auto;
  margin-top: 55px;
}
table > tbody > tr.success > td{
  background-color: #3fb40e!important;
}
.table_tr:nth-child(odd) {
  background: #f2f2f2;
}

.table_tr:nth-child(even) {
  background: #fff;
}
.table_color:nth-child(1){
  background: rgb(182, 236, 255);
}
.table_color:nth-child(2){
  background:rgb(166, 243, 231);
}
.table_color:nth-child(3){
  background:rgb(244, 185, 118);
}
.table_color:nth-child(4){
  background:rgb(251, 170, 166);
}
.table_color:nth-child(5){
  background:rgb(190, 247, 167);
}
.ligth_blue {
  background: #337ab7 ;
}

#add_search .select_key {
  position: relative;
}

#add_search .select_key_title {
  float: left;

}

#add_search .select_key_items {
  margin-left: 70px;
  color: #9e9d9c;
}
/* 选择类型弹 */
#type_dialog .form-group{
  margin-bottom:0;
}
#type_dialog .table{
  margin-bottom: 0;
}
#type_dialog .table caption{
  font-size: 18px;
}

/* 修改弹窗 */
#query h4{
  color: #000;
}
.check_setting .edit, .check_data .edit {
  padding: 5px;
  background: #337ab7;
  color: #ffffff;
}

.check_setting .del, .check_data .del {
  color: #ffffff;
  padding: 5px;
  background: #f57067;
}

 .fields,.querys,.keys,.sorts{
  border: 1px solid #cccccc;
}

.fields .fields_item,.querys .querys_item,.keys .keys_item {
  position: relative;
  margin: 5px;
  border: 1px solid #cccccc;
}

.fields .fields_label,.querys .querys_label,.keys .keys_label,.sorts .sorts_label {
  margin-top: 5px;
}
.fields .fields_label .col-sm_item,.keys .keys_label .col-sm_item{
  padding-left: 0;
}
.fields .del,.querys .del,.keys .del {
  position: absolute;
  top: 5px;
  right: 10px;
}

 .form-query {
  margin-top: 15px;
}

/* detail显示说明窗 */
#details .type_find_items .type_find_item {
  min-height: 20px;
}

#details .type_find_items .type_find_item {
  margin-bottom: 10px;
}

#details .type_find_fields .type_find_field, #details .type_find_query .type_find_query_item {
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
}

/* radio */
.form-horizontal .radio {
  padding-top: 4px;
  min-height: 28px;
}

.radio {
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
}

.checkbox ins, .radio_item ins {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 24px;
  height: 23px;
  vertical-align: middle;
  background: url(../img/blue.png) no-repeat;
  margin-right: 8px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  vertical-align: middle;
}

.checkbox ins {
  background-position: 0px 0px;
}

.checkbox .hover {
  background-position: -24px 0px;
}

.checkbox .checked {
  background-position: -48px 0px;
}

.radio_item ins {
  background-position: -120px 0px;
}

.radio_item .hover {
  background-position: -144px 0px;
}

.radio_item .checked {
  background-position: -168px 0px;
}

.radio_item .disabled {
  background-position: -191px 0px;
}

.radio_item .enable {
  background-position: -214px 0px;
}

.checkbox span, .radio_item span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.radio_item:hover{
  /*background: #e9df7c;*/
  background: #3fb40e;
  cursor: pointer;
}
.tip{
  position: absolute;
  z-index: 9999;
  top: 10%;
  margin: 0 auto;
  /*display: flex;*/
  justify-content: center;
  text-align: center;
   width: 100%;
  display: none;
}
.tip .tip_item{
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
}

#output .col-sm-2,.keys .col-sm-2{
  padding-left:0;
}
.keys .col-sm-2:last-child{
  padding-right: 30px;
}
#output .form-horizontal .form-group{
  margin-left:0;
  margin-right: 0;
  margin-bottom:5px;
}
#output .output_btn-add{
  position: absolute;
  top:15px;
  right: 15px;
}

.find_color{
  background:rgb(182, 236, 255)!important;
}
.group_color{
  background:rgb(166, 243, 231)!important;
}
.get_key_color{
  background:rgb(244, 185, 118)!important;
}
.set_key_color{
  background:rgb(251, 170, 166)!important;
}
.get_value_color{
background:rgb(190, 247, 167)!important;
}
